* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
* a {
  text-decoration: none;
}
.brand-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
}
.brand-logo p {
  margin: 0;
}
header {
  width: 100%;
  position: relative;
  z-index: 2;
  height: 12vh;
}
.header_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #25292c;
  padding: 23px 100px 23px 100px;
  position: fixed;
  z-index: 2;
  background-color: #fffffc;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: #25292c;
}
.btn-register {
  border: 1px solid #1576d6;
  border-radius: 6px;
  padding: 10px 18px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 15px;
  color: #1576d6;
  background-color: transparent;
  cursor: pointer;
  margin-right: 4px;
}
.drob_mobile {
  display: none;
}
.drop_down ul li a:hover {
  color: #00b4d8; 
}
.drop_down {
  background: #626262;
  padding: 0;
  width: 250px;
}
.drop_down li a {
  color: #fffffc;
  padding: 11px 12px;
  border-bottom: 1px solid #6c757d80;
}
.home_bage {
  color: #00b4d8 !important;
  border-bottom: 1px solid #00b4d8 !important;
}
.icon_drob {
  font-size: 30px;
  color: #fffffc;
}
.uk-icon {
  display: none;
}

.btn-register:hover {
  border: 1px solid #1576d6;
  background-color: #1576d6;
  color: #fffffc;
}
.btn-sgin-in {
  border: 1px solid #1576d6;
  background-color: #1576d6;
  border-radius: 6px;
  padding: 10px 18px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 15px;
  color: #fffffc;
  cursor: pointer;
}
.btn-sgin-in:hover {
  border: 1px solid #1576d6;
  background-color: transparent;
  color: #1576d6;
}
.dream_vacation {
  background-image: url(../image/img-1.jpg);
  position: relative;
  width: 87%;
  height: 500px;
  padding: 23px 100px 0px 100px;
  margin: auto;
  background-position-y: -117px;
  background-size: 100%;
  border-radius: 10px;
}
.dream_vacation_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #0000004d;
  color: #fffffc;
  border-radius: 10px;
}
.dream_vacation h1 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 32px;
  color: #fffffc;
}

.dream_vacation b {
  font-family: Barlow;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 50%;
  text-align: center;
}
.dream_vacation_height {
  height: 50vh;
  display: none;
}
.form_title_container {
  left: 70px;
  position: absolute;
  bottom: -30px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
  background: #fffffc;
  border-radius: 10px;
  box-shadow: 0px 4px 16px #00000026;
}
form input {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  font-family: Barlow;
  font-size: 14px;
  width: 100%;
  padding: 11px 8px;
  border: none;
  border-radius: 6px;
  font-family: Barlow;
  background: lavenderblush;
  font-size: 14px;
}
form input::placeholder {
  font-family: Barlow;
  font-size: 14px;
  color: #25292c;
  font-family: Barlow;
  font-weight: 400;
}
input:focus {
  outline: none;
  border: none;
}
form button {
  font-family: Barlow;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background-color: #1576d6;
  border: 1px solid #1576d6;
  color: #fffffc;
  font-family: Barlow;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  padding: 12px 50px;
}
.btn-form:hover {
  border: 1px solid #1576d6;
  background-color: transparent;
  color: #1576d6;
}

.form_title {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 1px 76px 1px 10px;
  overflow: hidden;
}
.form_title img {
  width: 20px;
  height: 20px;
}
.going {
  font-family: Barlow;
  font-size: 14px;
  padding: 1px 76px 1px 10px;
}
.date {
  font-family: Barlow;
  font-size: 14px;
  padding: 1px 10px 1px 10px;
}
.container_check_covid {
  position: absolute;
  top: 82px;
  display: flex;
  gap: 10px;
  align-items: center;
  background: #f4c123;
  width: 100%;
  padding: 0px 0px 0px 15px;
  margin: auto;
  font-family: Barlow;
  font-size: 14px;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
}
.Check-covid {
  position: relative;
  width: 87%;
  margin: auto;
  height: 16vh;
}
.Check-covid i {
  font-size: 25px;
  margin-top: 3px;
}
.why-choose-us {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -5rem;
}
.why-choose-us h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.cards-choose-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.card-choose {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.card-choose img {
  width: 64px;
  height: 64px;
  margin: 10px 50px;
}
.card-choose-details h3 {
  font-family: Barlow;
  font-weight: 500;
  color: #25292c;
  font-size: 18px;
  margin-bottom: 14px;
  margin-top: 38px;
}
.card-choose-details p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #25292c;
}
.dream-vacation {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -9rem;
}
.dream-vacation h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.dream-vacation p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  width: 45%;
  letter-spacing: 2%;

  color: #333333;
}
.dream-vacation-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}
.card-dream-vacation {
  width: calc((100% - 24px) / 4);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.card-dream-vacation img {
  width: 100%;
  height: 229px;
  border-radius: 8px;
  object-fit: cover;
}
.card-dream-vacation-details span {
  display: block;
}
.card-dream-vacation-details h3 {
  font-family: Barlow;
  color: #25292c;
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 14px;
  font-weight: 600;
}
.card-dream-vacation-details p {
  font-family: Barlow;
  line-height: 20px;
  color: #25292c;
  font-family: Barlow;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}

.next-trip {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -13rem;
}
.next-trip h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.next-trip p {
  font-family: Barlow;
  font-weight: 400;

  font-size: 16px;
  width: 45%;
  color: #333333;
}
.next-trip-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
}
.card-next-trip {
  width: calc((100% - 20 px) / 3);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  position: relative;
}
.card-next-trip img {
  width: 100%;
  height: 292px;
  border-radius: 8px;
  object-fit: cover;
}
.card-next-trip-details {
  position: absolute;
  position: absolute;
  padding-left: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  height: 292px;
  border-radius: 8px;
}
.card-next-trip-details h4 {
  font-family: Barlow;
  color: #fffffc;
  margin-bottom: 6px;
  margin-top: 173px;
  font-weight: 600;
  font-size: 20px;
  width: 85%;
}
.card-next-trip-details p {
  line-height: 20px;
  color: #fffffc;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  width: 87%;
}
.popular-hotels {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -18rem;
}
.popular-hotels h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.popular-hotels-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card-popular-hotels {
  width: calc((100% - 24px) / 4);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.card-popular-hotels img {
  width: 100%;
  object-fit: cover;
  height: 325px;
  border-radius: 8px;
}
.card-popular-hotels-details h3 {
  font-family: Barlow;
  color: #25292c;
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 14px;
  font-weight: 600;
}
.card-popular-hotels-details p {
  font-family: Barlow;
  line-height: 20px;
  color: #25292c;
  font-family: Barlow;
  font-weight: 400;
  font-size: 14px;
}
.Popular-things {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -22rem;
}
.things-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.things-details h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: rgba(37, 41, 44, 1);
}
.things-details p {
  font-family: Barlow;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  vertical-align: middle;
  color: rgba(37, 41, 44, 1);
}
.things-details a {
  text-decoration: none;
  color: #25292c;
}
.Popular-things-container {
  display: flex;
  gap: 30px;
}
.Popular-things-one {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: calc((100% - 60px) / 3);
}
.cruises_img {
  width: 100%;
  height: 100%;
}
.cruises img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.cruises {
  position: relative;
  width: 100%;
}
.cruises p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -7%;
  height: 100%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.museum-tour_img {
  width: 100%;
  height: 100%;
}
.museum-tour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.museum-tour {
  position: relative;
  width: 100%;
}
.museum-tour p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -7%;
  height: 100%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.Popular-things-two {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.Popular-things_img {
  width: 100%;
  height: 100%;
}
.Popular-things-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.Popular-things-two p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -3%;
  height: 100%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.Popular-things-three {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: calc((100% - 60px) / 2);
}
.city-tours_img,
.hiking_img,
.food_img {
  width: 100%;
  height: 100%;
}
.city-tours img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.city-tours {
  height: 100%;
  position: relative;
}
.city-tours p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -6%;
  height: 100%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.food-hiking {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.Popular-things-three .hiking img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.Popular-things-three .food img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.food-hiking .hiking,
.food-hiking .food {
  position: relative;
}
.hiking p,
.food p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -8%;
  height: 100%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.our-footprints-section {
  bottom: -500px;
}
.our-footprints-container h3 {
  font-family: Barlow;
  color: #25292c;
  text-align: center;
  font-family: Barlow;
  font-weight: 700;
  font-size: 37.66px;
}
.our-footprints-container p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 14.53px;
  text-align: center;
  color: rgba(37, 41, 44, 1);
  font-family: Barlow;
}
.our-footprints-container {
  width: 100%;
}
.our-footprints-container img {
  margin: 9px 9px;
  width: 77px;
  height: 80px;
}
.card-choose .fill {
  margin: 9px 23px;
}
.our-footprints-container .card-choose {
  align-items: center;
}
.download {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -650px;
  background-image: url(../image/Group\ 29.png);
  background-size: 100%;
}
.download-container {
  height: 40vh;
  display: flex;
  gap: 42px;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding: 64px 69px;
}
.download-container h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  color: #fffffc;
  width: 73%;
}
.download-container button {
  font-family: Barlow;
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  background-color: #1576d6;
  color: #fffffc;
  font-family: Barlow;
  cursor: pointer;
  padding: 12px 18px;
}
.download-container button:hover {
  border: 1px solid #fffffc;
  background-color: transparent;
  color: #fffffc;
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -750px;
}
.explore h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #25292c;
}
.explore a {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  color: #1576d6;
  text-align: center;
}
footer {
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -850px;
  gap: 91px;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  flex-wrap: wrap;
}
.footer-prand img {
  width: 70%;
  height: 100%;
}
.footer-prand_container {
  display: flex;
  gap: 91px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
  color: #25292c;
  width: 100%;
}
.footer-prand_img {
  width: 25%;
}
.footer_prand_deatails {
  display: flex;
  align-items: baseline;
  margin-top: -20%;
}
.footer-deatails {
  display: flex;
  flex-direction: column;
  width: calc((100% - 360px) / 5);
  gap: 20px;
}
.footer-prand p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 14px;
  color: #6c757d;
  position: relative;
  right: -23px;
  top: 20px;
  width: 90%;
}
footer h2 {
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  color: #25292c;
  width: 192%;
}
footer ul {
  list-style: none;
  gap: 48px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 170%;
}
footer li {
  margin-left: -26px;
}
footer a {
  font-family: Barlow;
  font-weight: 400;
  font-size: 14px;
  color: #6c757d;
}

@media (max-width: 576px) {
  html {
    overflow-x: hidden;
  }
  .drob_mobile {
    display: inline;
  }
  .nav_sign,
  .nav_ul {
    display: none;
  }
  header {
    height: 0;
  }
  .header_container {
    color: #25292c;
    color: #fffffc;
    background-color: transparent;
    position: absolute;
    align-items: baseline;
    padding: 32px 16px 0px 73px;
  }
  .brand-logo {
    margin-left: -67px;
  }

  .dream_vacation {
    width: 100%;
    background-size: 318%;
    background-position-x: 14%;
    height: 106vh;
    border-radius: 0;
  }
  .dream_vacation_content {
    position: absolute;
    left: 0%;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: start;
    justify-content: end;
    gap: 20px;
    background: #0000004d;
    color: #fffffc;
    border-radius: 0;
  }
  .dream_vacation b {
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: start;
    width: 68%;
    margin: 0 0 40px 21px;
  }
  .dream_vacation h1 {
    font-size: 22px;
    width: 90%;
    margin: 0px 20px;
  }
  form {
    justify-content: space-between;
    border-radius: 0;
    box-shadow: none;
  }
  .form_title_container {
    left: 0;
    position: absolute;
    bottom: -202px;
    width: 100%;
  }
  form input {
    width: 300px;
  }
  form button {
    width: 100%;
  }
  .form_title {
    width: 47%;
  }
  .dream_vacation_height {
    display: flex;
    height: 22vh;
  }
  .Check-covid {
    width: 96%;
    margin: auto;
    height: 26vh;
  }
  .container_check_covid p {
    font-size: 14px;
    width: 75%;
  }

  .Check-covid i {
    font-size: 42px;
    margin-top: -7px;
  }
  .why-choose-us {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0;
  }
  .card-choose {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .card-choose-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60.5%;
  }
  .card-choose-details p {
    margin-top: 0px;
  }
  .dream-vacation {
    gap: 0;
    width: 95%;
  }
  .dream-vacation p {
    width: 100%;
    width: 100%;
    margin-top: 0;
  }

  .dream-vacation-container {
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
  }
  .card-dream-vacation {
    width: 100%;
    align-items: center;
  }

  .card-dream-vacation img {
    height: 100%;
  }
  .dream-vacation-img{
    width: 100%;
  }
  .card-dream-vacation-details {
    margin-left: -240px;
  }
  .next-trip-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .next-trip {
    width: 95%;
    flex-wrap: wrap;
  }
  .card-next-trip {
    width: 100%;
  }
  .details h4 {
    width: 100%;
  }
  .card-next-trip-details p {
    font-size: 14px;
    width: 93%;
  }
  .card-next-trip-details h4 {
    margin-bottom: -16px;
    margin-top: 166px;
  }
  .popular-hotels {
    width: 95%;
  }
  .popular-hotels-container {
    flex-wrap: wrap;
    gap: 0;
  }
  .card-popular-hotels {
    width: 100%;
  }
  .card-popular-hotels-details p {
    margin-top: 0;
  }
  .Popular-things {
    width: 95%;
    bottom: -20rem;
  }
  .Popular-things-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .things-details p a {
    display: none;
  }

  .Popular-things-one {
    width: 100%;
    flex-direction: row;
    gap: 10px;
    height: 32vh;
  }
  .cruises {
    width: 152%;
  }
  .cruises p {
    top: -9%;
    font-size: 20px;
  }
  .museum-tour img {
    height: 32vh;
  }
  .museum-tour p {
    top: -9%;
    font-size: 20px;
  }
  .Popular-things-two {
    width: 100%;
    height: 35vh;
  }
  .Popular-things-two p {
    top: -9%;
    font-size: 20px;
  }
  .Popular-things-three {
    width: 100%;
    gap: 10px;
  }
  .city-tours {
    height: 40vh;
  }
  .city-tours p {
    top: -21px;
  }
  .hiking p,
  .food p {
    top: -20px;
  }

  .food-hiking {
    gap: 10px;
  }
  .our-footprints-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    margin: auto;
    width: 95%;
    position: relative;
    bottom: -24rem;
  }
  .download {
    width: 95%;
    bottom: -406px;
    background-repeat: no-repeat;
    background-image: url(../image/Rectangle\ 18.png);
    background-size: 100%;
  }
  .download-container {
    height: 30vh;
    gap: 0;
    margin-top: 2rem;
    padding: 21px;
  }
  .download-container h2 {
    font-family: Barlow;
    font-weight: 600;
    font-size: 20px;
    color: #fffffc;
    width: 100%;
  }
  .explore {
    display: none;
  }

  footer {
    gap: 0;
    width: 95%;
    bottom: -481px;
  }
  footer p {
    margin-left: 24px;
    width: 58%;
  }
  .footer-deatails {
    width: 100%;
    gap: 0;
    margin: auto;
  }
  footer ul {
    margin-top: 0;
  }
}
