*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
nav{
    width: 90%;
    margin: auto;
}
.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}