section{
    max-height: 100vh;
    margin-block: 13rem;
    font-family: Barlow;
font-weight: 400;
font-style: Regular;
font-size: 16px;
text-transform: capitalize;
flex-direction: column ;
}
.card-container{
width: 75%;
}
card-container-parent