* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  overflow-x: hidden;
}
* a {
  text-decoration: none;
}
.brand-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
}
header {
  position: relative;
}
.header_container{
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #25292c;
  padding: 23px 100px 23px 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fffffc;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: #25292c;
}
.btn-register {
  border: 1px solid #1576d6;
  border-radius: 6px;
  padding: 10px 18px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 15px;
  color: #1576d6;
  background-color: transparent;
  cursor: pointer;
  margin-right: 4px;
}
.btn-register:hover{
  border: 1px solid #1576d6;
  background-color: #1576d6;
 color: #fffffc;
 transition: 200ms;

}
.btn-sgin-in {
  border: 1px solid #1576d6;
  background-color: #1576d6;
  border-radius: 6px;
  padding: 10px 18px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 15px;
  color: #fffffc;
  cursor: pointer;
}
.btn-sgin-in:hover{
    border: 1px solid #1576d6;
      background-color: transparent;
     color: #1576d6;
      transition: 200ms;
}
.dream_vacation {
  background-image: url(../image/img-1.jpg);
  position: relative;
  bottom: -86px;
  width: 87%;
  height: 500px;
  padding: 23px 100px 0px 100px;
  margin: auto;
  background-position-y: -117px;
  background-size: 100%;
  border-radius: 10px;
}
.dream_vacation_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #0000004d;
  color: #fffffc;
  border-radius: 10px;
}
.dream_vacation h1 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 32px;
}
.dream_vacation b {
  font-family: Barlow;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 50%;
  text-align: center;
}
form {
position: absolute;
    bottom: -44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 87%;
    z-index: 1;
    padding: 21px;
    /* margin: auto; */
    background: #fffffc;
    border-radius: 10px;
    box-shadow: 0px 4px 16px #00000026;
}
form input {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  font-family: Barlow;
  font-size: 14px;
  width: 100%;
  padding: 11px 8px;
  border: none;
  border-radius: 6px;
  font-family: Barlow;
  background: lavenderblush;
  font-size: 14px;
}
form input::placeholder {
  font-family: Barlow;
  font-size: 14px;
  color: #25292c;
  font-family: Barlow;
  font-weight: 400;
}
input:focus {
  outline: none;
  border: none;
}
form button {
  font-family: Barlow;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background-color: #1576d6;
    border: 1px solid #1576d6;
  color: #fffffc;
  font-family: Barlow;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  padding: 12px 50px;
}
.btn-form:hover{
  border: 1px solid #1576d6;
  background-color: transparent;
  color: #1576D6;
   transition: 200ms;
}
.form_title {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 1px 76px 1px 10px;
  overflow: hidden;
}
.form_title img {
  width: 20px;
  height: 20px;
}
.going {
  font-family: Barlow;
  font-size: 14px;
  padding: 1px 76px 1px 10px;
}
.date {
  font-family: Barlow;
  font-size: 14px;
  padding: 1px 10px 1px 10px;
}
.Check-covid {
  position: relative;
  height: 25vh;
}
.conainer_covid{
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 190px;
    width: 87%;
    right: 100px;
    padding: 25px;
    margin: auto;
    font-family: Barlow;
    font-size: 14px;
    background: #f4c123;
    border-radius: 8px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
}
.Check-covid i {
  font-size: 25px;
  margin-top: 3px;
}
.why-choose-us {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -186px;
}
.why-choose-us h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.cards-choose-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 20px;
}
.card-choose {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.card-choose img {
  width: 64px;
  height: 64px;
  margin: 10px 50px;
}
.card-choose-details h3 {
  font-family: Barlow;
  font-weight: 500;
  color: #25292c;
  font-size: 18px;
  margin-bottom: 14px;
  margin-top: 38px;
}
.card-choose-details p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #25292c;
}
.dream-vacation {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -275px;
}
.dream-vacation h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.dream-vacation p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  width: 45%;
  letter-spacing: 2%;

  color: #333333;
}
.dream-vacation-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}
.card-dream-vacation {
  width: calc((100% - 24px) / 4);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.card-dream-vacation img {
  width: 100%;
  height: 229px;
  border-radius: 8px;
  object-fit: cover;
}
.card-dream-vacation-details span {
  display: block;
}
.card-dream-vacation-details h3 {
  font-family: Barlow;
  color: #25292c;
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 14px;
  font-weight: 600;
}
.card-dream-vacation-details p {
  font-family: Barlow;
  line-height: 20px;
  color: #25292c;
  font-family: Barlow;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}

.next-trip {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -348px;
}
.next-trip h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.next-trip p {
  font-family: Barlow;
  font-weight: 400;

  font-size: 16px;
  width: 45%;
  color: #333333;
}
.next-trip-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
}
.card-next-trip {
  width: calc((100% - 20 px) / 3);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  position: relative;
}
.card-next-trip img {
  width: 100%;
  height: 292px;
  border-radius: 8px;
  object-fit: cover;
}
.card-next-trip-details {
  position: absolute;
  position: absolute;
  padding-left: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  height: 292px;
  border-radius: 8px;
}
.card-next-trip-details h4 {
  font-family: Barlow;
  color: #fffffc;
  margin-bottom: 6px;
  margin-top: 173px;
  font-weight: 600;
  font-size: 20px;
  width: 85%;
}
.card-next-trip-details p {
  line-height: 20px;
  color: #fffffc;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  width: 87%;
}
.popular-hotels {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -425px;
}
.popular-hotels h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: #25292c;
}
.popular-hotels-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card-popular-hotels {
  width: calc((100% - 24px) / 4);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.card-popular-hotels img {
  width: 100%;
  object-fit: cover;
  height: 325px;
  border-radius: 8px;
}
.card-popular-hotels-details h3 {
  font-family: Barlow;
  color: #25292c;
  font-size: 18px;
  margin-bottom: 6px;
  margin-top: 14px;
  font-weight: 600;
}
.card-popular-hotels-details p {
  font-family: Barlow;
  line-height: 20px;
  color: #25292c;
  font-family: Barlow;
  font-weight: 400;
  font-size: 14px;
}
.Popular-things {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -470px;
}
.things-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.things-details h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 28px;
  vertical-align: middle;
  color: rgba(37, 41, 44, 1);
}
.things-details p {
  font-family: Barlow;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  vertical-align: middle;
  color: rgba(37, 41, 44, 1);
}
.things-details a {
  text-decoration: none;
  color: #25292c;
}
.Popular-things-container {
    display: flex;
    gap: 20px;

}
.Popular-things-one {
  display: flex;
  flex-direction: column;
  gap: 30px;
   width: calc((100% - 60px) / 3);
}
.cruises img {
  width: 60%;
  object-fit: cover;
  border-radius: 8px;
}
.cruises {
  position: relative;
  width: 155%;
}
.cruises p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -2%;
  height: 100%;
  padding: 28px;
  width: 60%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.museum-tour img {
    width: 60%;
    height: 95%;
    object-fit: cover;
    border-radius: 8px
}
.museum-tour {
  position: relative;
  width: 155%;
}
.museum-tour p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -2%;
  height: 96%;
  padding: 28px;
  width: 60%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.Popular-things-two {
  position: relative;
   width: calc((100% - 60px) / 3);
}
.Popular-things-two img {
  width: 93%;
  height: 98%;
  object-fit: cover;
  border-radius: 8px;
}
.Popular-things-two p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -2%;
  height: 101%;
  padding: 28px;
  width: 93%;
  height: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.Popular-things-three {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
     width: calc((100% - 60px) / 3);
}
.Popular-things-three .city-tours img {
  width: 100%;
  height: 106%;
  object-fit: cover;
  border-radius: 8px;
}
.city-tours{
  height: 301px;
}
.city-tours p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -2%;
    height: 54%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.food-hiking {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.Popular-things-three .hiking img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: 106%;
}
.Popular-things-three .food img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: 106%;
}
.food-hiking .hiking,
.food-hiking .food {
  position: relative;
}
.hiking p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -2%;
  height: 100%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.food p {
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 148%);
  top: -2%;
  height: 100%;
  padding: 28px;
  width: 100%;
  color: #fffffc;
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 8px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 28px;
}
.our-footprints-section {
  bottom: -500px;
}
.our-footprints-container h3 {
  font-family: Barlow;
  color: #25292c;
  text-align: center;
  font-family: Barlow;
  font-weight: 700;
  font-size: 37.66px;
}
.our-footprints-container p {
  font-family: Barlow;
  font-weight: 400;
  font-size: 14.53px;
  text-align: center;
  color: rgba(37, 41, 44, 1);
  font-family: Barlow;
}
.our-footprints-container {
  width: 100%;
}
.our-footprints-container img {
  margin: 9px 9px;
  width: 77px;
  height: 80px;
}
.card-choose .fill {
  margin: 9px 23px;
}
.our-footprints-container .card-choose {
  align-items: center;
}
.download{
   display: flex;
  flex-direction: column;
  align-items: start;
  gap: 43px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -650px; 
    background-image: url(../image/Group\ 29.png);
  background-size: 100% ;
}
.download-container{
height: 40vh;
    display: flex;
    gap: 42px;
    flex-direction: column;
    align-items: start;
    position: relative;
        padding: 64px 69px;
}
.download-container h2{
font-family: Barlow;
font-weight: 600;
font-size: 28px;
    color: #FFFFFC;
    width: 73%;
}
.download-container button{
 font-family: Barlow;
font-weight: 500;
font-size: 15px;
    border: 1px solid #1576D6;
  border-radius: 6px;
  background-color: #1576D6;
  color: #fffffc;
  font-family: Barlow;
  cursor: pointer;
  padding: 12px 18px;
  box-sizing: border-box;
}
.download-container button:hover{
    border: 1px solid #fffffc;
      background-color: transparent;
     color:#fffffc;
      transition: 200ms;
}
.explore{
     display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: auto;
  width: 87%;
  position: relative;
  bottom: -750px; 
}
.explore h2{
font-family: Barlow;
font-weight: 600;
font-size: 28px;
text-align: center;
color: #25292C;
}
.explore a{
  font-family: Barlow;
font-weight: 400;
font-size: 16px;
color: #1576D6;
text-align: center;
}
footer{
margin: auto;
    width: 87%;
    position: relative;
    bottom: -850px;
    gap: 186px;
    display: flex;
    justify-content: space-between;
    height: 35vh;
}
.footer-prand div{
  display: flex;
  gap: 4px;
  font-family: Barlow;
font-weight: 400;
font-size: 18px;
color: #25292C;
}
.footer-deatails{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-prand p{
font-family: Barlow;
    font-weight: 400;
    font-size: 14px;
    color: #6C757D;
    position: relative;
    right: -23px;
    top: 20px;
        width: 116%;
}
footer h2{
  font-family: Barlow;
font-weight: 500;
font-size: 16px;
color: #25292C;
width: 150%;
}
footer ul{
  list-style: none;
  gap: 48px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 170%;
}
footer a{
  font-family: Barlow;
font-weight: 400;
font-size: 14px;
color: #6C757D;
}